.mas{
    color: purple
}

.mas:hover{
    text-decoration: underline;
    cursor: pointer;
}
.mostrar{
    display: block;
}
.esconder{
    display: none;
}

.masinfo{
    list-style:square;
    /* list-style:none; */
}

.filas .contenedorTarjeta{
width: 15%;
padding: 2em;
}

.columnas .contenedorTarjeta .info{
display: flex;
flex-direction: column;
padding: 2em;
margin-right: 2em;
}

.columnas .contenedorTarjeta{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.columnas .foto{
    width: 20%;
    height: 80%;
}
