div{
background-color: #fcf7fb;
font-family: unset;
}

.filas main{
    display: flex;
    flex-direction: column;

}
.columnas main{
    display: flex;
    flex-direction: row;

}
.filas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.columnas{
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white; 
    border-bottom: 1px solid rgba(190, 30, 190, 0.781);
}

.logo {
    display: flex;
    justify-content: flex-start;
    max-width: 150px;
}

.ordenar{
display: flex;
margin-right: 20px;
text-decoration: none;
font-family: unset;
}

.agregar{
display: flex;
margin-right: 20px;
text-decoration: none;
font-family: unset;
}

.boton{
font-family: unset;
font-size: 16px;
background-color: purple;
color: white;
border: 1px solid grey;
border-radius: 5px;
}

nav{
    display: flex;
    flex-direction: row;
}

.opciones{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    text-decoration: none;
    color: white; 
    list-style: none;
}