.banner{
display: flex;
padding: 2em;
padding-left: 15px;
width: fit-content;
align-items: center;
}

.formbuscar {
    padding: 10px 40px 0px 150px;
}


.inputbuscar {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
    margin-bottom: 20px;
    border-radius: 5px;
}
        
.botonbuscar {

    padding: 12px;
    background: purple;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none; 
    border-radius: 5px;
}
